:root {
 
  Blue: hsl(246, 80%, 60%);

 Light-red: hsl(15, 100%, 70%);
 Soft-blue: hsl(195, 74%, 62%);;
 Light-red: hsl(348, 100%, 68%);
 Lime-green: hsl(145, 58%, 55%);
 Violet: hsl(264, 64%, 52%);
 Soft-orange: hsl(43, 84%, 65%);



 Very-dark: hsl(226, 43%, 10%);
 Dark-blue: hsl(235, 46%, 20%);
 Desaturated: hsl(235, 45%, 61%);
 Pale-blue: hsl(236, 100%, 87%);
}



h1{
  color: white;
}

p{
  color: hsl(236, 100%, 87%) ;
}

.blue{
  background-color: hsl(235, 46%, 20%);
}

.pri{
  color: white;
}

.verde{
  background-color: hsl(145, 58%, 55%);
}
.icon{
  
  background-repeat: no-repeat;
  background-position: right;
}

.back{
  background-color: royalblue;
  border-radius: 1rem;
}

.par{
  margin-top: 35px;
}

.letra{
  font-size: large;
  color: white;
}

.morado{
  background-color: hsl(235, 46%, 20%);
}

.azul{
  background-color: hsl(246, 80%, 60%);
}

.white{
  color: white;
}

.img{
  background-size: contain;
  width: 100px;
  height: 100px;
  border: solid white;
  border-radius: 50%;
}


